body {
    margin: auto;
    background-color: #24273a;
    color: #cad3f5;
}

.top-header {
    overflow: hidden;
    background-color: #1e2030;
    position: relative;
}

.top-header #links {
    display: none;
}

.top-header button {
    color: #EEEEEE;
    background-color: #1e2030;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.top-header button.icon {
    background: #181926;
    display: inline-block;
    position: relative;
}

.top-header form {
    display: inline-block;
}

.title-page {
    text-align: center;
    display: block;
}

.title-page h1 {
    font-size: 48px;
}

.title-page h2 {
    font-size: 18px;
    color: #b8c0e0;
}
